* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dirt {
  background-color: rgb(0, 0, 0);
  color: white;
  flex: 1;
  height: 100%;
  background-image: url(./assets/dirt.png);
}

.dirt:nth-child(1) {
  border-right: white;
  border-right: double;
  border-width: 20px;
}

.dirt:nth-child(3) {
  border-left: white;
  border-left: double;
  border-width: 20px;
}

.road {
  display: flex;
  flex: 3;
  position: relative;
}

.lane {
  background-color: white;
  border: dashed;
  border-color: gray;
  border-top: none;
  border-bottom: none;
  flex: 1;
}

.car {
  position: absolute;
  background-color: black;
  border: solid;
  border-color: white;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.other-car {
  position: absolute;
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notify-sign {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: monospace;
}
