* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dirt-left,
.dirt-right {
  background-color: rgb(255, 255, 255);
  flex: 1;
  height: 100%;
  position: relative;
}

.dirt-left {
  border-right: black;
  border-right: double;
  border-width: 20px;
}

.dirt-right {
  border-left: black;
  border-left: double;
  border-width: 20px;
}

.road {
  display: flex;
  width: 500px;
  position: relative;
  background-color: white;
  z-index: -2;
}

.lane {
  background-color: hsla(0, 78%, 48%, 0);
  border: dashed;
  border-color: black;
  border-top: none;
  border-bottom: none;
  flex: 1;
}

.car {
  position: absolute;
  height: 120px;
  width: 90px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.ascii-art {
  font-family: monospace;
}

.obstacle {
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 40px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-status-sign {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
}

.game-status-sign:focus {
  border: double;
  border-width: 10px;
}

.highway-sign {
  position: absolute;
  width: 100%;
  display: none;
  z-index: 2;
}

.scenery {
  background-color: black;
  width: fit-content;
  font-weight: bold;
  padding: 20px;
  color: white;
  font-size: x-large;
}
