* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  height: 100vh;
}

.dirt {
  background-color: black;
  color: white;
  flex: 1;
  height: 100%;
}

.road {
  display: flex;
  flex: 3;
  position: relative;
}

.lane {
  background-color: white;
  border-right: dotted;
  flex: 1;
}

.car {
  position: absolute;
  background-color: black;
  border: solid;
  border-color: white;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.other-car {
  position: absolute;
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notify-sign {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: monospace;
}
