* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dirt-left,
.dirt-right {
  background-color: rgb(255, 255, 255);
  flex: 1;
  height: 100%;
  position: relative;
}

.dirt-left {
  border-right: black;
  border-right: double;
  border-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dirt-right {
  border-left: black;
  border-left: double;
  border-width: 20px;
}

.road {
  display: flex;
  width: 500px;
  position: relative;
  background-color: white;
  z-index: -2;
}

.lane {
  background-color: hsla(0, 78%, 48%, 0);
  border: dashed;
  border-color: black;
  border-top: none;
  border-bottom: none;
  flex: 1;
}

#left-arrow {
  position: absolute;
  background-color: white;
  color: black;
  bottom: 2%;
  left: 2%;
  border: double;
  border-width: 4px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#right-arrow {
  position: absolute;
  background-color: white;
  color: black;
  bottom: 2%;
  right: 2%;
  border: double;
  border-width: 4px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.car {
  position: absolute;
  height: 120px;
  width: 90px;
  top: 70%;
  left: 50%;
  z-index: 2;
}

.cactus {
  position: absolute;
  height: 120px;
  width: 90px;
  top: 30%;
  left: 30%;
  z-index: 2;
}

.ascii-art {
  font-family: monospace;
}

.hole {
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.difficulty-buttons {
  background-color: black;
  color: white;
  font-weight: bold;
  border: double;
  border-width: 1;
  border-radius: 25px;
  padding: 10px;
  width: 75px;
  font-family: monospace;
  text-align: center;
  margin-top: 10px;
}

.game-status-sign {
  background-color: black;
  color: white;
  font-weight: bold;
  border: double;
  border-width: 1;
  border-radius: 25px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-align: center;
}

.game-status-sign:hover,
.difficulty-buttons:hover {
  background-color: white;
  color: black;
}

.scenery {
  background-color: black;
  width: fit-content;
  font-weight: bold;
  padding: 20px;
  color: white;
  font-size: x-large;
}

.game-card {
  padding: 20px;
  background-color: black;
  color: white;
  width: 75%;
  border-radius: 20px;
  text-align: center;
  border: double;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: clamp(250px, 50%, 300px);
}

button {
  color: black;
  padding: 4px;
}

.dead {
  position: absolute;
  height: 120px;
  width: 160px;
  top: 70%;
  left: 50%;
  z-index: 2;
}
